@charset "UTF-8";
/*$box-shadow :0 4px 8px 0 rgba(0, 0, 0, 0.38);*/
/*@import "./utils/placeholders";*/
/*import feuille de style externes comme le normalizer*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  font-size: 25px;
  font-style: normal;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
}

h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.category__card {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
  font-style: normal;
}

/* créer une mixin et rajouter juste le margin left*/
.category__card--offset {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
  font-style: normal;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
}

a {
  outline: none;
  text-decoration: none;
  color: #101010;
}

/*rajouter une mixin aprés*/
.introduction__button {
  background-color: #9356DC;
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid #9356DC;
  /*box-shadow: $box-shadow
  color: $colour-white;*/
}

.card__button {
  font-size: 12px;
  background-color: #9356DC;
  padding: 4px 2px 2px 2px;
  border-radius: 100%;
  border: 2px solid #9356DC;
  color: #fff;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1px;
}

.button--green {
  background-color: #99E2D0;
  border: 2px solid #99E2D0;
  padding: 5px 15px;
  color: #078868;
  border-radius: 2px;
  position: absolute;
  right: 50px;
  bottom: 135px;
}

.header__button--backtohomepage {
  background-color: #fff;
  border: none;
  color: #101010;
  font-size: 20px;
}

.button--order {
  background-color: #9356DC;
  padding: 10px 40px;
  border-radius: 30px;
  border: 2px solid #9356DC;
  /*box-shadow: $box-shadow
  color: $colour-white;*/
}

.category__card {
  border-bottom: 3px solid #99E2D0;
  width: 25px;
}

/* créer une mixin et rajouter juste le margin left*/
.category__card--offset {
  border-bottom: 3px solid #99E2D0;
  width: 25px;
  margin-left: 25px;
}

.fonctionnement__card {
  display: flex;
  border: 2px solid #F7F7F7;
  border-radius: 20px;
  padding: 15px 20px;
  width: 70%;
  background-color: #F7F7F7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.38);
}
.fonctionnement__card .fa-solid, .fonctionnement__card .fas {
  margin: 0px 25px 0px 15px;
  display: flex;
  align-items: center;
}

.restaurants__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: white;
  width: 90%;
  height: 250px;
  margin: 10px 0px;
}
.restaurants__card img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.restaurants__card__description {
  padding: 0px 12px;
}
.restaurants__card__description h2 {
  /*font-family: "Shrikhand", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;*/
  margin-bottom: 0px;
  /*Ne pas oublier d'enlever la class card description title au HTML*/
}
.restaurants__card__description .fa-regular, .restaurants__card__description .far {
  position: absolute;
  right: 50px;
  font-size: 30px;
}
.restaurants__card__description p {
  margin: 5px 0 0 0;
}

/*Rajouter une extension pour les autres card du menus*/
.entries__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #fff;
  width: 90%;
  height: 60px;
  margin: 10px 0px;
  padding: 5px 0px 5px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.entries__card h3 {
  margin: 10px 0 0 0;
}
.entries__card p {
  margin: 0;
}
.entries__card span {
  float: right;
}
.entries__card figure {
  margin: 0;
  position: relative;
  border: 2px solid #99E2D0;
  width: 50px;
  height: 70px;
  left: 16.1rem;
  bottom: 3.5rem;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
}
.entries__card .fa-regular, .entries__card .far {
  font-size: 20px;
  background-color: white;
  border: 0px solid #99E2D0;
  border-radius: 50px;
  color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
