/*rajouter une mixin aprés*/
.introduction__button {
    background: $background-colour-button;
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    box-shadow :0 4px 8px 0 rgba(0, 0, 0, 0.38);
    /*box-shadow: $box-shadow*/
    color: $colour-white;
    margin: 10px 0 40px 0;

    &:hover {
        @include background-colour-button--hover
        
    } 
}

.card__button {
    font-size: 12px;
    background-color: $colour-primary;
    padding: 4px 2px 2px 2px;
    border-radius: 100%;
    border: 2px solid $colour-primary;
    color: $colour-white;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -2%;
}

.button--green {
    background-color: $colour-tertiary;
    border: 2px solid $colour-tertiary;
    padding: 5px 15px;
    color: $colour-tertiary--darken;
    border-radius: 2px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.header__button--backtohomepage {
    background-color: $colour-white;
    border: none;
    color: $colour-black;
    font-size: 20px;
    position: absolute;
    left: 5%;
    top: 35%;    
}

.button--order {
    background: $background-colour-button;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.38);
    color: $colour-white;
    position: absolute;
    right: 28%;
    bottom: 3.5%;
    
    &:hover {
        @include background-colour-button--hover
    } 
}