body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    font-weight: 100;
    line-height: 20px; 
    background-color: $colour-lightgray;  
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px ;
    font-style: normal;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px ;
    font-style: normal;   
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px ;
    font-style: normal;
}

/*.category__card {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px ;
    font-style: normal;
}*/

/* créer une mixin et rajouter juste le margin left
.category__card--offset {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px ;
    font-style: normal; 
}*/

button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    font-weight: 900;   
}

a {
    outline: none ;
    text-decoration: none;
    color: $colour-black;
}