@keyframes slide-up {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }
    70% {
        opacity: 1; 
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    from {
        /*transform: scale(1);*/
        visibility: visible;
    }
    to {
        /*transform: scale(0);*/
        visibility: hidden;
    }
}

@keyframes disappear-reverse {
    from {
        /*transform: scale(1);*/
        visibility: hidden;
    }
    to {
        /*transform: scale(0);*/
        visibility: visible;
    }
}