@keyframes slide-up {
    0% {
        transform: translateY(25%); 
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
