@mixin card-fonts {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px ;
    font-style: normal;  
}

@mixin menu-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: $colour-white;
    width: 85%;
    height: 60px;
    margin: 10px 0px;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    position: relative;

    /*animation: slide-up 5s ease;*/
    
    h3 {
    margin: 10px 0 0 0;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 15px;
    }

    p {
    margin: 0;
    width: 66%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }

    span {
        position: absolute;
        right: 5%; 
    }

    figure {
        margin: 0;
        position: absolute;
        top: 0%;
        right: 0%;
        border: 2px solid $colour-tertiary;
        width: 15%;
        height: 70px;
        border-radius: 0px 15px 15px 0px;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
    }

    .fa-regular, .far {
        font-size: 20px;
        background-color: white;
        border: 0px solid $colour-tertiary;
        border-radius: 50px;
        color: $colour-tertiary;
        animation: rotate 0.5s ease;
    }
}

@mixin menu-card--hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: $colour-white;
    width: 85%;
    height: 60px;
    margin: 10px 0px;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    position: relative;
    
    h3 {
    margin: 10px 0 0 0;
    }

    p {
    margin: 0;
    }

    span {
        float: none;
        position: absolute;
        right: 22%; 
    }

    figure {
        margin: 0;
        position: absolute;
        top: 0%;
        right: 0%;
        border: 2px solid $colour-tertiary;
        width: 15%;
        height: 70px;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
    }

    .fa-regular, .far {
        font-size: 20px;
        background-color: white;
        border: 0px solid $colour-tertiary;
        border-radius: 50px;
        color: $colour-tertiary;
    }
}

@mixin menu-container {
    background-color: $colour-lightgray;
    height: 1135px;
    border-radius: 50px 50px 0px 0px;
    position: relative;

    h1 {
        padding: 40px 0 0 15px;
        position: relative;

        .fa-regular, .far {
            position: absolute;
            right: 8%;
            bottom: 0%;
        }
    
        .fa-solid, .fas {
            display: none;
        }
    }
}

@mixin menu-container--hover {
    &:hover {
        h1 .fa-regular, .far {
            display: none;
        }
    
        h1 .fa-solid, .fas {
            position: absolute;
            right: 8%;
            bottom: 0%;
            color: $colour-primary;
            display: flex;
        }   
    }  
}

@mixin menu-container-category {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/*@mixin background-colour-button {
    background: linear-gradient(103deg, rgba(238,114,218,1) 0%, rgba(169,94,220,1) 96%, rgba(167,92,220,1) 100%);
}*/

@mixin background-colour-button--hover {
    background: rgb(197,122,224);
    background: linear-gradient(73deg, rgba(197,122,224,1) 0%, rgba(224,131,224,1) 95%); 
    box-shadow: 0 4px 8px 1px rgba(0,0,0,0.5);   
}

@mixin animation-menu-card-nth--1 {
    animation: slide-up 1s ease-in-out backwards;
    animation-delay: 0.6s; 
}

@mixin animation-menu-card-nth--2 {
    animation: slide-up 1s ease-in-out backwards;
    animation-delay: 0.9s; 
}

@mixin animation-menu-card-nth--3 {
    animation: slide-up 1s ease-in-out backwards;
    animation-delay: 1.2s; 
}

@mixin animation-menu-card-nth--4 {
    animation: slide-up 1s ease-in-out backwards;
    animation-delay: 1.5s; 
}

@mixin tablette-desktop {
    
}