$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-tertiary--darken: #078868;
$colour-white: #fff;
$colour-black: #101010;
$colour-gray: #EAEAEA;
$colour-lightgray: #F7F7F7;
$colour-footer: #353535;
$colour-primary--light:#F5EDFF;

/*$box-shadow :0 4px 8px 0 rgba(0, 0, 0, 0.38);*/
$background-colour-button : linear-gradient(103deg, rgba(238,114,218,1) 0%, rgba(169,94,220,1) 96%, rgba(167,92,220,1) 100%);
/*$background-colour-button--hover :  background: rgb(197,122,224);
background: linear-gradient(73deg, rgba(197,122,224,1) 0%, rgba(224,131,224,1) 95%);*/ 

$animation-duration: 1s;
$animation-count: 3;