.introduction__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colour-lightgray;
    
    h1 {
        text-align: center;
        margin: 40px 0 10px 0;
    }
    
    p {
        text-align: center;
    }
}
/*supprimer la classe section introduction*/

.fonctionnement {
    height: 300px;

&__container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/*Supprimer class fonctionnement title*/
h1 {
    margin: 40px 0 20px 25px;
}

}

.restaurants {
    background-color: $colour-lightgray;
    height: 1210px;
    
    h1 {
        padding: 40px 0 0 25px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/*Ajouter une extension pour appliquer même style aux autres menus*/
.a-la-francaise {
    @include menu-container;
    /*@include menu-container--hover;*/

    /*h1 .fa-regular, .far {
        position: absolute;
        right: 8%;
        bottom: 0%;
    }

    h1 .fa-solid, .fas {
        display: none;
    }

    &:hover {
        h1 .fa-regular, .far {
            display: none;
        }
    
        h1 .fa-solid, .fas {
            position: absolute;
            right: 8%;
            bottom: 0%;
            color: $colour-primary;
            display: flex;
        }   
    }*/
}

.la-note-enchantee {
    @include menu-container--higher-height;
    /*@include menu-container--hover;*/
}

.la-palette-du-gout {
    @include menu-container;
    /*@include menu-container--hover;*/
}

.le-delice-des-sens {
    @include menu-container;
    /*@include menu-container--hover;*/
}

/*Ajouter une mixin dishes et desserts containers*/
.entries__container {
    @include menu-container-category
}

.dishes__container {
    @include menu-container-category
}

.desserts__container {
    @include menu-container-category  
}