footer {
  background-color: $colour-footer; 
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include tablette-desktop {
    align-items: center;
}

  h2 {
    margin: 0;
    padding: 0px 0px 0 20px;
    color: $colour-white;
  }

  ul {
    margin-bottom: 0px;
    list-style: none;
    padding: 0 20px;
    color: $colour-white;
  }

  li {
    padding-bottom: 5px;
  }

  a {
    color: $colour-white; 
  }
}

/*Delete footer container*/